.tooltip {
	background: #ffffff;
	box-shadow: 0 0 5px #000000;
	color: #333;
	font-size: 20px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
b {
	color: #000000
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}
.lines {
    stroke-width: 2;
    stroke-dasharray: 5,5;
    stroke: black;
    fill: none;
}
.grid-row {
    grid-column: 1 / span 1;
}
