.tooltip {
	background: #ffffff;
	box-shadow: 0 0 5px #000000;
	color: #333;
	font-size: 20px;
	padding: 10px;
    position: absolute;
	text-align: center;
	z-index: 10;
	display: block;
	opacity: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
b {
	color: #000000
}
.grid-container {
    display: grid;
    grid-template-rows: 40, 800, 40;
    grid-gap: 5px;
}
.lines {
    stroke-width: 2;
    stroke-dasharray: 5,5;
    stroke: black;
    fill: none;
}
.grid-row {
    grid-column: 1 / span 1;
    border-radius: 10px;
    box-shadow: 2px 1px #888888;
}
.grid-row-button {
    grid-column: 1 / span 1;
    border-radius: 10px;
    margin: 0;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px #888888;
}
.svg-container {
    grid-row-start: 1;
    grid-row-end: 30;
    grid-column: 2 / span 5;
}
.axis {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}
.slider-container {
    grid-row: 31;
    grid-column: 2 / span 4;
    border-radius: 10px;
    margin: 0;
    line-height: 100px;
}
.ticks {
    font-size: 10px;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }